*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    
}
.image{
    height: 100vh;
    width: 100%;
    opacity: 0.44;
    position: relative;
}
.navbar{
    position:absolute;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width:  80vw;
    height: 70px;
    margin-left:110px ;
    margin-top: 35px;
}
.logo img{
    height: 150px;
    width: 150px;
}
.Signin a{
    color: #fff;
    text-decoration: none;
}
.language{
    margin-left: 100vh;
    border: 1px solid white;
    width: 8rem;
    border-radius: 5px;
    height: 25px;
    padding-top: 4px;
}
.language i{
    color: aliceblue;
    font-size: larger;
    padding-left: 10px;
    
}
select{
    border: none;
    font-size: larger;
    color: #fff;
    background-color:transparent;
}
button{
    background-color: red;
    border-radius: 6px;
    color: #fff;
    width: 70px;
    height: 35px;

}
.contant{
    color: #fff;
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
}

.searchbar{
    position: absolute;
    top: 55%;
    margin-left: 31%;
    display: flex;

    & button{
        height: 50px;
        width: 150px;
        margin-left: 6px;
        margin-top: 40px;
        font-size: larger;
    }

    & button a{
        color: #fff;
        text-decoration: none;
    }

    & input{
    height: 45px;
    width: 380px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    color: #fff;
    margin-top: 40px;
    font-weight: bold;
    }
}

/* sepration */

.sepration{
    height: 5px;
    background-color: rgb(54, 52, 52);
}
.contant1{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.text1{
    color: white;
    font-size: large;
    
    & h1{
        font-size: 50px;
        
    } 
    & pre{
        font-size: 25px;
    }    
}
.img1{
    position: relative;
    z-index: 10;
}
.video1{
    position: absolute;
    top: 100px;
    right: 80px;
}
.contant2{
    display: flex;
    justify-content: center;
    align-content:center;

    & .img2{
        padding-top: 50px;
        height: 450px;
    }
    
    & .text2{
        color: #fff;
        padding-top: 150px;
        font-size: 25px;
        & pre{
            font-size: 25px;
        }
    }
}
.contant3{
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

     & .text3 h1{
        font-size:65px;
        padding-top: 150px;
     }
     & pre{
        font-size: 25px;
     }
     & .img3{
        height:450px;
        width:600px;
        padding-top: 25px;
        z-index: 10;
        position: relative;
     }
     & .video2{
        position: absolute;
        top: 20%;
        right: 22%;
        width: 350px;
     }
}
.contant4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 500px;

    & .img4{
        height: 350px;
        width: 450px;
        padding-top: 10px;
        padding-left: 20px;
    }
    & text4{
        padding-right:50px ;
    }
    
    & h1{
        font-size: 50px;
    }
    & pre{
        font-size: 25px;
    }
}
.contant5{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

     & .btn{
        flex-direction: column;
        text-align: start;
        background-color: rgb(45, 44, 44);
        width: 1000px;
        height: 70px;
        border: none; 
        font-size:24px;
        margin-top: 10px;
        padding-left: 20px;
        margin-left: 220px; 
    } 
    & .btn:hover{
        opacity: 0.7;
    }
    & p{
        font-size: 25px;
        margin-top: 50px;
    }
}
.lastbar{
    & button{
        height: 50px;
        width: 150px;
        margin-left: 5px;
        margin-top: 10px;
        font-size: 20px;
    }

    & button a{
        color: #fff;
        text-decoration: none;
    }

    & input{
    height: 45px;
    width: 380px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    }
}
/* footer */

.colum{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: #fff;
    margin-top: 30px;

    & ul{
        list-style-type: none;
        padding-top:10px;       
    }
    & li{
        padding-top: 20px;
    }

    & a{
        color: #fff;
    }
}
/* --------------------------------------------for sing in form --------------------------------------------- */


